body,
html {
  width: 500px;
  height: 500px;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.timer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* App.css */

.App {
  background: linear-gradient(135deg, #9fa8da 0%, #e1bee7 100%);
  color: #333;
  font-family: 'Arial', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background: rgba(239, 237, 237, 0.82); /* Gives a frosted glass effect */
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.App-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.App-nav li {
  margin: 0 10px;
}

.App-nav a {
  text-decoration: none;
  color: #5c6bc0;
  font-weight: bold;
  font-size: 16px;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.App-nav a:hover,
.App-nav a:focus {
  /* Focus for keyboard navigation */
  color: #ffffff; /* Bright change for hover */
  background-color: #3f51b5; /* A darker blue background on hover */
  padding: 5px 10px; /* Adding some padding */
  border-radius: 4px; /* Rounded corners for the background */
  transform: translateY(-2px); /* Slight lift */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.App-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-login-btn {
  background: #6c5ce7; /* Button color */
  color: white;
  border: none;
  padding: 1em 2em;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.App-login-btn:hover {
  background: #5e4db2;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  font-family: 'Arial', sans-serif;
}

.login-button {
  text-decoration: none;
  color: #5c6bc0;
  font-weight: bold;
  font-size: 16px;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.login-button:hover,
.login-button:focus {
  color: #ffffff; /* Bright change for hover */
  background-color: #3f51b5; /* A darker blue background on hover */
  padding: 5px 10px; /* Adding some padding */
  border-radius: 4px; /* Rounded corners for the background */
  transform: translateY(-2px); /* Slight lift */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 10vh;
  margin-top: 15px;
}

.settings-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.settings-header {
  text-align: left;
  margin-bottom: 30px;
  color: #333; /* Dark text for contrast */
}

.monitored-sites-section {
  background-color: #f9f9f9; /* Very light background for this section */
  border-radius: 8px;
  padding: 15px;
  width: 80vw;
  margin-bottom: 30px;
}

.monitored-sites-list {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
}

.site-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.site-item:last-child {
  border-bottom: none;
}

.site-name {
  color: #555; /* Darker text for readability */
  flex-grow: 1; /* Ensures name takes up available space */
}

.edit-button {
  padding: 8px 16px;
  background-color: #007bff; /* Blue color for edit button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #0056b3;
}

.user-stats {
  padding: 20px;
  border-radius: 8px;
  width: 80vw;
  background-color: #f9f9f9; /* Same light background as the sites section */
}

.stat-item {
  margin: 10px 0;
}

/* Custom progress bar styles */
.progress-bar-container {
  background-color: #e0e0e0;
  border-radius: 20px;
  padding: 3px;
  margin: 10px 0;
}

.progress-bar {
  background-color: #007bff;
  height: 20px;
  border-radius: 15px;
  width: 20; /* Dynamically update this in your JS based on stats */
  transition: width 0.5s ease-in-out;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.progress-bar-label {
  position: absolute;
  white-space: nowrap;
  color: white;
  font-weight: bold;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .settings-container {
    width: 95%;
  }
}
