extension/
mobile/android
mobile/ios
mobile/node_modules
#TODO change this later
web/
#web/src/components/Login.js
#web/src/components/Dashboard.js
#web/src/components/Preference.js
#web/src/components/__tests__/dashboard.test.js
web/node_modules
