extension/
web/
mobile/android
mobile/ios
mobile/node_modules
web/node_modules
web/src/components/Login.js
web/src/components/Dashboard.js
web/src/components/Preference.js
web/src/components/Signup.js
web/src/components/App.js
web/src/components/__tests__/dashboard.test.js
