# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
yarn.lock
# Expo
.expo/
dist/
web-build/
.idea
.vscode/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
web/package-lock.json


# mobile
mobile/yarn.lock
mobile/node_modules
mobile/coverage

# server
SEPvenv/
/server/.env
/server/package-lock.json

# misc
*.log
.python-version
mobile/coverage/clover.xml
mobile/coverage/coverage-final.json
mobile/coverage/lcov.info
mobile/coverage/lcov-report/base.css
mobile/coverage/lcov-report/block-navigation.js
mobile/coverage/lcov-report/index.html
mobile/coverage/lcov-report/prettify.css
mobile/coverage/lcov-report/prettify.js
mobile/coverage/lcov-report/sorter.js
mobile/coverage/lcov-report/mobile/App.js.html
mobile/coverage/lcov-report/mobile/index.html
mobile/coverage/lcov-report/mobile/screens/ForgotPassword.js.html
mobile/coverage/lcov-report/mobile/screens/Home.js.html
mobile/coverage/lcov-report/mobile/screens/index.html
mobile/coverage/lcov-report/mobile/screens/Login.js.html
mobile/coverage/lcov-report/mobile/screens/Rewards.js.html
mobile/coverage/lcov-report/mobile/screens/Settings.js.html
mobile/coverage/lcov-report/mobile/screens/SignUp.js.html
