.dashboard {
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh; /* Full height */
}

.dashboard h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  color: #484646;
}

.task-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Spacing between cards */
  justify-content: center; /* Center cards in the container */
}

.task-card {
  background-color: #e9e9e9;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  width: calc(33.333% - 10px); /* Three cards per row with gap */
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .task-card {
    width: calc(50% - 10px); /* Two cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .task-card {
    width: 100%; /* One card per row on very small screens */
  }
}

.btn-add-website {
  background-color: rgba(77,36,238,0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 80%;
}

.lists-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.blacklist-container, .whitelist-container {
  flex: 1;
  color: #333;
}
