body,
html {
  height: 100%; /* Ensure the html and body take full height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  /* Apply background gradient here */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
  background-color: #f4f4f4;
  color: white; /* Set text color to white */
}

/* Ensure .login only styles the form area and not the entire page */
.login {
  width: 500px; /* Fixed width */
  padding: 20px;
  box-shadow: 0 0 10px rgba(204, 203, 203, 0.3);
  background: rgba(255, 252, 252, 0.94); /* Slightly transparent white background */
  border-radius: 8px;
  position: absolute; /* Positioning relative to the viewport */
  top: 10%; /* Center vertically */
  left: 10%; /* Center horizontally */
}

.login h2 {
  text-align: center;
  margin-bottom: 20px; /* Added some space below the title */
}

.login form {
  display: flex;
  flex-direction: column;
}

.login form label {
  display: block; /* Make label block to take full width */
  margin-bottom: 10px;
  color: #312a2a;
}

.login form input[type='text'] {
  padding: 10px;
  margin-bottom: 20px; /* Added margin for spacing between inputs */
  border: 1px solid #ccc; /* Lighter border color */
  background: rgba(255, 255, 255, 0.2); /* Slightly visible background */
  color: black;
  border-radius: 4px;
  width: 20vw;
}

.login form input[type='password'] {
  padding: 10px;
  margin-bottom: 20px; /* Added margin for spacing between inputs */
  border: 1px solid #ccc; /* Lighter border color */
  background: rgba(255, 255, 255, 0.2); /* Slightly visible background */
  color: black;
  border-radius: 4px; /* Rounded corners for inputs */
  width: 20vw;
}

.login form input[type='submit'] {
  margin-top: 20px;
  padding: 10px;
  background-color: #6e45e2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px; /* Rounded corners for button */
  transition: background-color 0.3s ease; /* Transition for button hover effect */
}

.login form input[type='submit']:hover {
  background-color: #7b5bea; /* Slightly lighter purple on hover */
}
