.reading {
  color: black;
}

.book-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Creates a responsive grid with columns of minimum 250px and maximum 1 fraction of the available space */
  grid-gap: 10px; /* Adjust the gap between the cards as needed */
  padding: 10px;
  overflow-y: auto; /* Makes the container vertically scrollable if needed */
  max-height: 90vh; /* Adjust the height as needed */
}

/* Increase specificity by using a custom class name */
.add-book-button {
  background-color: blue !important; /* Using !important to ensure override */
  color: white !important;
}

/* To target the hover state */
.add-book-button:hover {
  background-color: darkblue !important;
}

.add-button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}
