.rewards-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  color: black;
}

.points-display {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #333;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background-color: #e0e0e0;
  margin-right: 5px;
  cursor: pointer;
}

.tab-button.active {
  background-color: #4caf50;
  color: white;
}

.tab-content {
  text-align: left;
}

/* Add styles for RewardHistory and Shop components if needed */
.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.shop-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: calc(33.333% - 20px);
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
}

.shop-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.shop-item img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.shop-item h3 {
  margin: 15px 0 10px;
  font-size: 1.2em;
  color: #333;
}

.shop-item p {
  font-size: 1em;
  color: #666;
  margin-bottom: 15px;
}

.purchase-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.purchase-btn:hover {
  background-color: #45a049;
}

@media (max-width: 992px) {
  .shop-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .shop-item {
    width: 100%;
  }
}

.reward-history {
  max-height: 250px; /* Adjust based on the actual height of your items */
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 10px; /* Optional: adds some space inside the container */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.history-item {
  background-color: #ffffff;
  border-left: 4px solid #4caf50;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.history-item:hover {
  background-color: #f0f0f0;
}

.history-item p {
  color: #333;
  font-size: 1em;
  line-height: 1.6;
  margin: 0;
}

.history-item:first-child {
  margin-top: 0;
}

.history-item:last-child {
  margin-bottom: 0;
}
