.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup form {
  display: flex;
  flex-direction: column;
}

.signup form input {
  margin-bottom: 10px;
}

.signup form button {
  cursor: pointer;
}
.ReactModal__Content {
  width: 50%;
  height: 50%;
  margin: auto;
  overflow: auto;
}
